.nav {
  grid-area: n;
  background-color: wheat;
  padding: 20px;

}

.item {
  & > a {
    color: saddlebrown;
    text-decoration: none;
    text-transform: capitalize;
  }

  & > a:hover {
    color: aquamarine;
  }

  & > a:focus {
    color: red;
  }

}
