.dialogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 10fr;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  padding: 10px;
}